@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_bg {
  background: radial-gradient(
      79.84% 99.84% at 32.27% 91.27%,
      rgba(31, 169, 17, 0.810119) 17.21%,
      #2f15d0 54.58%,
      rgba(0, 0, 0, 1) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.gradient_bg2 {
  /*background: rgb(31,169,17);*/
  background: radial-gradient(
    circle,
    rgba(31, 169, 17, 0.81) 20%,
    rgba(47, 21, 208, 1) 68%,
    rgba(0, 0, 0, 1) 7%
  );
}

.gradient_bg3 {
  background-image: url("../assets/GradientBG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hide_scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide ALL scrollbars: left, right, center everyone, everywhere all at once... */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
